$columns: 12   !default;
$gutter: 20px  !default;
$medium: 640px !default;
$large: 1024px !default;

/*------------------------------------*\
    $Extends
\*------------------------------------*/
%col{
    float: left;
    position: relative;
    min-height: 1px;
    padding:0 $gutter * 0.5;
}

.grid-show{
    min-height: 50px;

    background-color: rgba(#C9524B, 0.2);
    border: 1px solid rgba(#C9524B, 0.5);

}

/*------------------------------------*\
    $Class
\*------------------------------------*/
.row{
    margin:0 0;
}

/*------------------------------------*\
    $Grid
\*------------------------------------*/
@for $i from 1 through $columns{
    .col-s-#{$i}, .col-m-#{$i}, .col-l-#{$i}{ @extend %col; }
}
.m-show{ display: none; }
.l-show{ display: none; }
@include responsive-columns('-s');

/*------------------------------------*\
    $Responsive
\*------------------------------------*/

/* Medium Screen */
@media only screen and (min-width: $medium) {
    @include responsive-columns('-m');
    .m-hide{ display: none; }
    .m-show{ display: block; }
    .s-show{ display: none; }
}

/* Large Screen */
@media only screen and (min-width: $large) {
    @include responsive-columns('-l');
    .l-hide{ display: none; }
    .l-show{ display: block; }
    .m-show{ display: none; }
}
