<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

    {% block head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>GOAT</title>

        <!-- StyleSheets -->
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <link href="../static/css/bokeh-0.11.0.min.css" rel="stylesheet">

        <link href="../static/css/app.css" rel="stylesheet" />


        <!-- Scripts -->
        <script src="../static/js/jquery-2.1.4.min.js"></script>
        <script src="../static/js/jquery.cookie.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="../static/js/bokeh-0.11.0.min.js"></script>
        <script src="../static/js/underscore-min.js"></script>
        <script src="../static/js/JSXTransformer.js"></script>
        <script src="../static/js/react.js"></script>
        <script src="../static/js/griddle.js"></script>
        <script src="../static/js/app.js"></script>

    </head>
    {% endblock head %}

    {% block body %}
        <body>
        </body>
    {% endblock body %}

</html>