/* Box Radius */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

/* Transitions */
.form-container {
  *zoom: 1; }
  .form-container:before, .form-container:after {
    content: " ";
    display: table; }
  .form-container:after {
    clear: both; }

.form-error-message {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.cb {
  clear: both; }

/*------------------------------------*    CSS
\*------------------------------------*/
/*------------------------------------*    $Reset
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*    $Base
\*------------------------------------*/
/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 70.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #3e454c;
  background-color: #ffffff; }

body::after {
  clear: both;
  content: "";
  display: table; }

a {
  color: #1784c7;
  text-decoration: none; }

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

/*------------------------------------*    $Module
\*------------------------------------*/
/* --------------------------------

Sidebar

-------------------------------- */
.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  max-width: 200px;
  padding: 30px 0 0;
  background-color: #2c3136;
  -webkit-transition: width 0.05s linear;
  -moz-transition: width 0.05s linear;
  -ms-transition: width 0.05s linear;
  -o-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
  overflow: hidden; }
  .side-nav > ul {
    visibility: hidden;
    opacity: 0;
    display: none; }
  .side-nav > .side-icon {
    visibility: visible;
    opacity: 100;
    display: block; }
  .side-nav a {
    display: block;
    position: relative;
    color: #ffffff;
    font-size: 1.4rem; }
  .side-nav .has-children > a {
    text-transform: uppercase;
    padding: 1em 0 1em 0.5em; }
  .side-nav .has-children > ul > li > a {
    display: block;
    padding: 1em 1em;
    font-weight: normal;
    background-color: #1e2225;
    border-radius: .25em;
    border: none;
    text-align: left;
    color: #ffffff; }
  @media screen and (max-width: 768px) {
    .side-nav {
      visibility: hidden;
      opacity: 0;
      display: none; } }

.nav-username {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  letter-spacing: .1em;
  padding-left: calc(5% + 24px); }
  .nav-username:before {
    position: absolute;
    content: '';
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(../img/user-icon2.png) no-repeat; }

.label {
  display: block;
  padding: 2em 5% 1em 5%;
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1em;
  letter-spacing: .1em; }

.side-nav:hover {
  width: 250px;
  overflow: visible; }
  .side-nav:hover > ul {
    visibility: visible;
    opacity: 100;
    display: block; }
  .side-nav:hover > .side-icon {
    visibility: hidden;
    opacity: 0;
    display: none; }

.side-icon {
  width: 50px;
  position: relative;
  top: 40%; }

.logout {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  bottom: 20px; }

.table-container {
  overflow-x: auto;
  width: 100%; }

.griddle-container {
  border: 1px solid #DDD; }

.griddle .top-section {
  clear: both;
  display: table;
  width: 100%; }

.griddle .griddle-filter {
  float: left;
  width: 200px;
  text-align: left;
  color: #222;
  min-height: 1px;
  margin: 5px; }

.settings {
  margin: 5px;
  width: 50%;
  height: 34px;
  background: #2c3136;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: sans-serif;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0; }
  .settings:hover {
    background: #434b52; }

.griddle .griddle-settings-toggle {
  float: right;
  width: 200px;
  text-align: right; }

.griddle .griddle-settings {
  background-color: #FFF;
  border: 1px solid #DDD;
  color: #222;
  padding: 10px;
  margin-bottom: 10px; }

.griddle .griddle-settings .griddle-columns {
  clear: both;
  display: table-cell;
  width: 100%;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 10px; }

.griddle .griddle-settings .griddle-column-selection {
  float: left;
  width: 20%; }

.griddle table {
  width: 100%;
  table-layout: auto; }

.griddle th {
  border: 0px;
  border-bottom: 1px solid #dddddd;
  background-color: #cccccc;
  color: #222;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #dddddd;
}

.griddle td {
  padding: 5px;
  border-top-color: #dddddd;
  border: 1px solid #dddddd;
  color: #222222;
  width: auto;}

.griddle tr:nth-child(even) {
  background-color: #ededef; }

.griddle tr:nth-child(odd) {
  background-color: #ffffff; }

.griddle .footer-container {
  padding: 0px;
  background-color: #EDEDED;
  border: 0px;
  color: #222; }

.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next {
  float: left;
  width: 33%;
  min-height: 1px;
  margin-top: 5px; }

.griddle .griddle-page {
  text-align: center; }

.griddle .griddle-next {
  text-align: right; }

/* Variables for form */
.form-label, .form-input-text, .form-select, .form-input-textarea {
  font-size: 1.5em; }

.form-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.8em;
  border: solid 1px gray;
  border-radius: 0;
  color: #aaa;
  font-weight: bold;
  font-family: Open Sans, Arial, sans-serif; }

.form-legend {
  font-size: 1.7em;
  text-transform: uppercase;
  text-align: center; }

.form-label {
  display: block;
  font-size: 1em;
  margin: 20px 0 0 0; }

.form-input-text, .form-select, .form-input-textarea {
  padding: 5px;
  margin: 5px;
  color: #000;
  font-size: 0.9em; }

input[type="checkbox"] {
  margin-right: 5px; }

.form-select {
  font-size: 1em; }

.form-list > li {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 10px;
  padding-left: 10px;
  height: 40px; }
  .form-list > li > label {
    display: inline-block;
    font-size: 0.7em; }

.form-submit, .form-cancel {
  width: 50%;
  height: 40px;
  background: #2c3136;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: sans-serif;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0; }
  .form-submit:hover, .form-cancel:hover {
    background: #434b52; }

.form-cancel {
  margin-left: 5%;
  width: 40%;
  line-height: 40px; }

.form-footer {
  padding: 15px; }

.form-inline {
  display: inline-block; }

.form {
  position: fixed;
  height: auto;
  width: auto;
  top: 200px;
  left: -200%;
  z-index: 1;
  background-color: #ffffff;
  transform: translateX(-200%);
  transition: transform 0.5s 0s;
  max-width: 1000px; }

.form-slider {
  width: 100%;
  margin: 20px 0 0 0; }
  .form-slider > .form-label {
    float: left;
    margin: 0px;
    line-height: 24px; }
  .form-slider > .form-input-text {
    width: 50px;
    padding: 0;
    margin: 0 0 0 5px; }

.visible {
  position: absolute;
  top: 200px;
  left: 20%;
  z-index: 2;
  transform: translateX(0);
  transition: transform 0.5s 0s; }

.dimLayer {
  display: none;
  outline: 0px none;
  height: 100%;
  width: 100%;
  background: #A9A9A9;
  top: 0px;
  left: 0px;
  z-index: 1;
  position: fixed;
  opacity: 0.7;
  filter: alpha(opacity=70); }

span.button {
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 25px;
  text-align: center;
  cursor: pointer; }

.module-container {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid #2c3136;
  min-height: 250px;
  padding-: 10px;
  margin: 10px; }

.module-name {
  text-align: center;
  margin: 5px;
  text-transform: uppercase; }

.module-description {
  font-size: 0.9em;
  margin: 5px 0; }

.module-link {
  color: #2c3136;
  outline: none;
  position: relative;
  display: inline-block;
  line-height: 40px;
  padding: 0 16px; }

.module-actionbar {
  position: relative;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  padding: 0 8px;
  border-top: 1px solid #E0E0E0;
  boz-sizing: border-box;
  height: auto;
  transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1); }

.login-form {
  text-align: center; }
  .login-form > h3 {
    text-transform: uppercase;
    margin: 30px auto;
    font-weight: 600; }
  .login-form > h4 {
    margin: 30px auto; }

.login-block {
  width: 320px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #8c97a2;
  border-top: 5px solid #2c3136;
  margin: 0 auto; }
  .login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px; }
  .login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    padding: 0 20px 0 50px;
    outline: none; }
  .login-block input#username {
    background: #fff url("../img/user-icon.png") 20px top no-repeat;
    background-size: 16px 80px; }
  .login-block input#username:focus {
    background: #fff url("../img/user-icon.png") 20px bottom no-repeat;
    background-size: 16px 80px; }
  .login-block input#password {
    background: #fff url("../img/password-icon.png") 20px top no-repeat;
    background-size: 16px 80px; }
  .login-block input#password:focus {
    background: #fff url("../img/password-icon.png") 20px bottom no-repeat;
    background-size: 16px 80px; }
  .login-block input:active, .login-block .login-block input:focus {
    border: 1px solid #2c3136; }
  .login-block .login-btn {
    width: 100%;
    height: 40px;
    background: #2c3136;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 0; }
    .login-block .login-btn:hover {
      background: #434b52; }

.login-error {
  width: 320px;
  margin: 10px auto;
  padding: 12px;
  color: #D8000C;
  background-color: #FFBABA; }
  .login-error:empty {
    display: none; }

.title {
  display: inline-block; }

.form-title {
  display: inline-block;
  width: 250px; }

.graph {
  width: 100%; }

.graph {
  width: 90%; }

/*------------------------------------*    $Layout
\*------------------------------------*/
/* --------------------------------

Main Page Content

-------------------------------- */
.l-container {
  width: 100%;
  margin: 0 auto; }

.content-wrapper {
  position: relative;
  display: block;
  left: 60px;
  overflow: auto;
  width: 90%;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .content-wrapper {
      width: 100%; } }

.logo-container {
  width: 500px;
  display: block;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.block-container {
  padding: 5px;
  width: 80%;
  margin: auto; }

/*------------------------------------*    $Extends
\*------------------------------------*/
.col-s-1, .col-m-1, .col-l-1, .col-s-2, .col-m-2, .col-l-2, .col-s-3, .col-m-3, .col-l-3, .col-s-4, .col-m-4, .col-l-4, .col-s-5, .col-m-5, .col-l-5, .col-s-6, .col-m-6, .col-l-6, .col-s-7, .col-m-7, .col-l-7, .col-s-8, .col-m-8, .col-l-8, .col-s-9, .col-m-9, .col-l-9, .col-s-10, .col-m-10, .col-l-10, .col-s-11, .col-m-11, .col-l-11, .col-s-12, .col-m-12, .col-l-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px; }

.grid-show {
  min-height: 50px;
  background-color: rgba(201, 82, 75, 0.2);
  border: 1px solid rgba(201, 82, 75, 0.5); }

/*------------------------------------*    $Class
\*------------------------------------*/
.row {
  margin: 0 0; }

/*------------------------------------*    $Grid
\*------------------------------------*/
.m-show {
  display: none; }

.l-show {
  display: none; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-0 {
  left: 0%; }

.col-s-offset-0 {
  margin-left: 0%; }

.col-s-pull-0 {
  right: 0%; }

.col-s-1 {
  width: 8.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-1 {
  left: 8.33333%; }

.col-s-offset-1 {
  margin-left: 8.33333%; }

.col-s-pull-1 {
  right: 8.33333%; }

.col-s-2 {
  width: 16.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-2 {
  left: 16.66667%; }

.col-s-offset-2 {
  margin-left: 16.66667%; }

.col-s-pull-2 {
  right: 16.66667%; }

.col-s-3 {
  width: 25%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-3 {
  left: 25%; }

.col-s-offset-3 {
  margin-left: 25%; }

.col-s-pull-3 {
  right: 25%; }

.col-s-4 {
  width: 33.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-4 {
  left: 33.33333%; }

.col-s-offset-4 {
  margin-left: 33.33333%; }

.col-s-pull-4 {
  right: 33.33333%; }

.col-s-5 {
  width: 41.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-5 {
  left: 41.66667%; }

.col-s-offset-5 {
  margin-left: 41.66667%; }

.col-s-pull-5 {
  right: 41.66667%; }

.col-s-6 {
  width: 50%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-6 {
  left: 50%; }

.col-s-offset-6 {
  margin-left: 50%; }

.col-s-pull-6 {
  right: 50%; }

.col-s-7 {
  width: 58.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-7 {
  left: 58.33333%; }

.col-s-offset-7 {
  margin-left: 58.33333%; }

.col-s-pull-7 {
  right: 58.33333%; }

.col-s-8 {
  width: 66.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-8 {
  left: 66.66667%; }

.col-s-offset-8 {
  margin-left: 66.66667%; }

.col-s-pull-8 {
  right: 66.66667%; }

.col-s-9 {
  width: 75%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-9 {
  left: 75%; }

.col-s-offset-9 {
  margin-left: 75%; }

.col-s-pull-9 {
  right: 75%; }

.col-s-10 {
  width: 83.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-10 {
  left: 83.33333%; }

.col-s-offset-10 {
  margin-left: 83.33333%; }

.col-s-pull-10 {
  right: 83.33333%; }

.col-s-11 {
  width: 91.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-11 {
  left: 91.66667%; }

.col-s-offset-11 {
  margin-left: 91.66667%; }

.col-s-pull-11 {
  right: 91.66667%; }

.col-s-12 {
  width: 100%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-12 {
  left: 100%; }

.col-s-offset-12 {
  margin-left: 100%; }

.col-s-pull-12 {
  right: 100%; }

/*------------------------------------*    $Responsive
\*------------------------------------*/
/* Medium Screen */
@media only screen and (min-width: 640px) {
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-0 {
    left: 0%; }
  .col-m-offset-0 {
    margin-left: 0%; }
  .col-m-pull-0 {
    right: 0%; }
  .col-m-1 {
    width: 8.33333%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-1 {
    left: 8.33333%; }
  .col-m-offset-1 {
    margin-left: 8.33333%; }
  .col-m-pull-1 {
    right: 8.33333%; }
  .col-m-2 {
    width: 16.66667%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-2 {
    left: 16.66667%; }
  .col-m-offset-2 {
    margin-left: 16.66667%; }
  .col-m-pull-2 {
    right: 16.66667%; }
  .col-m-3 {
    width: 25%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-3 {
    left: 25%; }
  .col-m-offset-3 {
    margin-left: 25%; }
  .col-m-pull-3 {
    right: 25%; }
  .col-m-4 {
    width: 33.33333%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-4 {
    left: 33.33333%; }
  .col-m-offset-4 {
    margin-left: 33.33333%; }
  .col-m-pull-4 {
    right: 33.33333%; }
  .col-m-5 {
    width: 41.66667%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-5 {
    left: 41.66667%; }
  .col-m-offset-5 {
    margin-left: 41.66667%; }
  .col-m-pull-5 {
    right: 41.66667%; }
  .col-m-6 {
    width: 50%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-6 {
    left: 50%; }
  .col-m-offset-6 {
    margin-left: 50%; }
  .col-m-pull-6 {
    right: 50%; }
  .col-m-7 {
    width: 58.33333%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-7 {
    left: 58.33333%; }
  .col-m-offset-7 {
    margin-left: 58.33333%; }
  .col-m-pull-7 {
    right: 58.33333%; }
  .col-m-8 {
    width: 66.66667%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-8 {
    left: 66.66667%; }
  .col-m-offset-8 {
    margin-left: 66.66667%; }
  .col-m-pull-8 {
    right: 66.66667%; }
  .col-m-9 {
    width: 75%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-9 {
    left: 75%; }
  .col-m-offset-9 {
    margin-left: 75%; }
  .col-m-pull-9 {
    right: 75%; }
  .col-m-10 {
    width: 83.33333%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-10 {
    left: 83.33333%; }
  .col-m-offset-10 {
    margin-left: 83.33333%; }
  .col-m-pull-10 {
    right: 83.33333%; }
  .col-m-11 {
    width: 91.66667%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-11 {
    left: 91.66667%; }
  .col-m-offset-11 {
    margin-left: 91.66667%; }
  .col-m-pull-11 {
    right: 91.66667%; }
  .col-m-12 {
    width: 100%; }
  .col-m-center {
    margin: 0 auto;
    float: none; }
  .col-m-push-12 {
    left: 100%; }
  .col-m-offset-12 {
    margin-left: 100%; }
  .col-m-pull-12 {
    right: 100%; }
  .m-hide {
    display: none; }
  .m-show {
    display: block; }
  .s-show {
    display: none; } }

/* Large Screen */
@media only screen and (min-width: 1024px) {
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-0 {
    left: 0%; }
  .col-l-offset-0 {
    margin-left: 0%; }
  .col-l-pull-0 {
    right: 0%; }
  .col-l-1 {
    width: 8.33333%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-1 {
    left: 8.33333%; }
  .col-l-offset-1 {
    margin-left: 8.33333%; }
  .col-l-pull-1 {
    right: 8.33333%; }
  .col-l-2 {
    width: 16.66667%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-2 {
    left: 16.66667%; }
  .col-l-offset-2 {
    margin-left: 16.66667%; }
  .col-l-pull-2 {
    right: 16.66667%; }
  .col-l-3 {
    width: 25%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-3 {
    left: 25%; }
  .col-l-offset-3 {
    margin-left: 25%; }
  .col-l-pull-3 {
    right: 25%; }
  .col-l-4 {
    width: 33.33333%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-4 {
    left: 33.33333%; }
  .col-l-offset-4 {
    margin-left: 33.33333%; }
  .col-l-pull-4 {
    right: 33.33333%; }
  .col-l-5 {
    width: 41.66667%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-5 {
    left: 41.66667%; }
  .col-l-offset-5 {
    margin-left: 41.66667%; }
  .col-l-pull-5 {
    right: 41.66667%; }
  .col-l-6 {
    width: 50%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-6 {
    left: 50%; }
  .col-l-offset-6 {
    margin-left: 50%; }
  .col-l-pull-6 {
    right: 50%; }
  .col-l-7 {
    width: 58.33333%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-7 {
    left: 58.33333%; }
  .col-l-offset-7 {
    margin-left: 58.33333%; }
  .col-l-pull-7 {
    right: 58.33333%; }
  .col-l-8 {
    width: 66.66667%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-8 {
    left: 66.66667%; }
  .col-l-offset-8 {
    margin-left: 66.66667%; }
  .col-l-pull-8 {
    right: 66.66667%; }
  .col-l-9 {
    width: 75%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-9 {
    left: 75%; }
  .col-l-offset-9 {
    margin-left: 75%; }
  .col-l-pull-9 {
    right: 75%; }
  .col-l-10 {
    width: 83.33333%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-10 {
    left: 83.33333%; }
  .col-l-offset-10 {
    margin-left: 83.33333%; }
  .col-l-pull-10 {
    right: 83.33333%; }
  .col-l-11 {
    width: 91.66667%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-11 {
    left: 91.66667%; }
  .col-l-offset-11 {
    margin-left: 91.66667%; }
  .col-l-pull-11 {
    right: 91.66667%; }
  .col-l-12 {
    width: 100%; }
  .col-l-center {
    margin: 0 auto;
    float: none; }
  .col-l-push-12 {
    left: 100%; }
  .col-l-offset-12 {
    margin-left: 100%; }
  .col-l-pull-12 {
    right: 100%; }
  .l-hide {
    display: none; }
  .l-show {
    display: block; }
  .m-show {
    display: none; } }
